[2021-07-02 11:28] M0H4MM4D0UTIS commented on #221
I think it 's time to rewrite the system with xpath. In this case, large and small changes in the source can be easily adapted to the system

[2021-07-02 11:55] duck7000 commented on #221
@M0H4MM4D0UTIS
True, i wrote a new method a while ago in xpath, much cleaner.

[2021-07-02 15:28] M0H4MM4D0UTIS commented on #221
I am working on the code to adapt to the new version.
A pull request has been sent.
I will continue to work on part of the code. But I can not completely solve everything. Because my free time is not enough

[2021-07-02 15:41] paxter commented on #221
We should thinking about forking this project. This project is not active maintained anymore. Quick fixes are essential for projects like this. No offense against the maintainers. But the project lacks activity and responses for months now.

Another possibility is to add some new maintainers.

[2021-07-02 16:16] DaanDeJong2001 commented on #221
@paxter one of the maintainers commented a few times here already. And project had 27 commit this year. Not that many, but certainly not a dead project. If you are skilled enough to think about forking, how about bringing in some PR to fix issues. Or are you just commenting on how other people should spent their time to help you?

@M0H4MM4D0UTIS could you comment why you are following the XPath tr

[2021-07-02 16:25] DaanDeJong2001 commented on #218
This is the schema.org description for the Movie type above:
https://schema.org/Movie

[2021-07-02 17:11] duck7000 commented on #221
well i second that, i have a few very hard discussions here in the past with the maintainers to get fixes and add on to the source
If somebody is willing to take over this project from izzysoft i would have expected that it would be maintained, but for a long time i have the feeling that the maintainers wait until someone comes up with a good idea/solution.

[2021-07-02 17:14] M0H4MM4D0UTIS commented on #221
The XPath method is much better, more efficient and cleaner than regex, and if the source format changes, corrections can be made in no time.
I used the JSON block in as many parts as possible. But the information is not complete. For example, it does not have a photo or a role for the actors

[2021-07-02 17:29] duck7000 commented on #221
Well i think that json will be a excellent option (how cool is that, directly from the source) but if the information is not there/not complete a fallback to Xpath is a good viable option, certainly much cleaner then regex.
regex is hard to follow and hard to maintain in my opinion

[2021-07-02 20:11] duck7000 commented on #221
Can you report this as a bug or as a pull request?
I'm also not getting any episodes or seasons anymore.

[2021-07-03 07:21] Thomasdouscha commented on #221
it works very well, thanks

[2021-07-03 12:20] tboothman commented on #221
Probably worth agreeing on the style of the replacement code.
As has been discussed already the preference should be for structured metadata first - so the JSON LD, then using any computer readable attributes that indicate something is data (there used to be some itemProp attributes on elements e.g. `itemprop="episodeNumber"`) then id attributes or whatever's available.

My preference would be xpa

[2021-07-03 13:28] duck7000 commented on #221
@tboothman
Thanks for commenting on the issue.

@all
I'm allready trying to fix the recommendations method but i'm stuck and need help.
I don't understand how this jsonLD() works exactly, i can't get it working.
If i try with getPage it looks like i get json data in return as their are no html tags inside as far as i can see
If i try with a query like below i get a string that looks like json but

[2021-07-03 14:32] tboothman commented on #221
Wow there's a lot of data in that JSON. I wouldn't be sure that's meant to be there or will remain .. but it's probably a bit easier to parse than the html.

Probably the easiest way to show this is in the browser. If you go to https://www.imdb.com/title/tt0133093/ and open up the developer console and type this you'll see the recommendations
[code]
I'm not entirely sure what 1814075148 is or how

[2021-07-03 14:55] tboothman commented on #221
What might be interesting is looking into this graphapi that the frontend is using now.
I've just had a quick test and it doesn't use any auth so actually we should be able to get all the data we need from that rather than getting the html.

e.g. here's what it does when you ask for more info about the recommended film forrest gump on the matrix page:

[code]

[code]

[2021-07-03 15:01] duck7000 opened #223 "movie photo doesn't work properly"
Movie photo only gives half of the image?
![Screenshot from 2021-07-03 16-59-13](https://user-images.githubusercontent.com/15360048/124358341-1b4c9500-dc20-11eb-9775-5784451a73ef.png)

That could be considerd as a upgrade because it didn't work at all but i don't understand why this happens?

[2021-07-03 15:40] tboothman commented on #221
This is a lot easier than faffing around with html and weird json in a page:
![image](https://user-images.githubusercontent.com/1813336/124359529-5ac5b200-dc1d-11eb-8b2f-909f48a9c40c.png)

[2021-07-03 16:17] #219 closed

[2021-07-03 16:18] #220 closed

[2021-07-03 16:56] M0H4MM4D0UTIS commented on #221
I implemented a method that allows you to use __NEXT_DATA__:
https://github.com/tboothman/imdbphp/pull/224/commits/e48ebe514ae954fa0c3837202890975751dee5fd

and sample using:
https://github.com/tboothman/imdbphp/pull/224/commits/a170175207d066cf0d41615a4376b785f2a0d52d

[2021-07-03 17:09] duck7000 commented on #221
@tboothman @M0H4MM4D0UTIS
Thanks for the explaining and examples!
This looks promising, if this get merged i got a good starting point, thanks!

Maybe it will help others to rebuild the other methods with this info

The only thing missing is de info that is available if you click on the little i icon, this is a overlay and is not in the source or script tag.
Well no big deal after all.

[2021-07-03 17:27] duck7000 commented on #223
Mm it looks like there is a mixed up issue here, this half image above is the preview image from the video, not the main image that is shown on the left.

[2021-07-03 17:51] M0H4MM4D0UTIS commented on #223
I did some tests
There seems to be a problem extracting the thumb. But the original image to be extracted properly.
sample for this movie:
https://www.imdb.com/title/tt0092610/

main poster:
https://m.media-amazon.com/images/M/MV5BNmU5YzQyODEtZjY4MC00ZDA2LTk1YTItZmNiN2MyMWU3MGUzXkEyXkFqcGdeQXVyNjMwMjk0MTQ@._V1_.jpg

thump extracted:
https://m.media-amazon.com/images/M/MV5BYjI3NzIxNDgtMTlmNS00YjJkL

[2021-07-03 17:53] duck7000 commented on #223
thanks a lot!
Hope this get merged soon.

[2021-07-03 18:40] #223 closed

[2021-07-03 18:55] duck7000 opened #225 "Alternate versions method adjustments"
I have a few adjustments for alternate versions method
Sometimes there are still list items in the output, some of it is useful, most is not.
this filters out most of it.

I don't think it will be necessary to make a pull request for such small adjustments?
@tboothman maybe you can/will make this to a commit? at least if you think it is useful off course.

[code]

[2021-07-03 23:12] tboothman commented on #221
All the tests pass now thanks for @M0H4MM4D0UTIS #224
These two methods almost definitely don't work but there are no tests for them:
mainPictures
prodNotes

[2021-07-04 06:35] sbdvhjrfw opened #227 "orig_title not work"
#### Description
orig_title not work, i tried lot of time, but new version orig title not work.. :-/

#### Type

Bug

<img width="1395" alt="Képernyőfotó 2021-07-04 - 8 33 53" src="https://user-images.githubusercontent.com/33731226/124375471-a5d5d880-dca2-11eb-940f-f90f0ef0784b.png">

[2021-07-04 12:22] duck7000 commented on #225
I ended up with a pull request, rewrote to new xpath function as well.

[2021-07-04 12:54] duck7000 commented on #207
@tboothman
If i compare my suggestion above with the master they seem to be identical? so apparently you merged this, thanks.

[2021-07-05 14:40] #225 closed

[2021-07-06 11:49] duck7000 opened #233 "method runtimes does not work with tv series"
See 6c3c629 comment for details

[2021-07-06 16:59] duck7000 opened #234 "Working on episode method"
I'm working on the episodes method and hit a problem. This is part of the code that i came up with. It is not ready jet but this blocks any further progress.

[code]
$xpathSeasonPage = $this->getXpathPage("Episodes-$s");
This line is not working, it works if i use getPage instead of getXpathPage.

I think the problem lies in this function
getUrlSuffix($pageName)?

@tboothman can/will you look in t

[2021-07-06 22:49] tboothman opened #236 "Title::get_episode_details() is unreliable"
imdbid and seriestitle seem to returning the wrong values on occasion.

See https://app.travis-ci.com/github/tboothman/imdbphp/jobs/522246888

It's almost definitely because of `$this->XmlNextJson()->xpath("//series/series/titleText/parent::*/parent::*")` and how it's picking out data from that huge lump of json

[2021-07-06 23:03] tboothman commented on #233
Resolved by #235

[2021-07-06 23:03] #233 closed

[2021-07-06 23:04] #218 closed

[2021-07-06 23:04] #212 closed

[2021-07-06 23:50] tboothman commented on #227
It didn't but it does in master. Trying to make sure everything works before doing another release. See #221

[2021-07-06 23:50] #227 closed

[2021-07-08 19:22] tboothman commented on #236
Fixed in 236

[2021-07-08 19:22] #236 closed

[2021-07-08 19:25] tboothman commented on #221
I've removed those two methods.
The usage of that NEXT_DATA json in get_episode_details and movie_recommendations has been removed as it sometimes returned incorrect results.
I think this about covers it so I'm going to make a release with this code.

[2021-07-08 19:42] tboothman commented on #221
https://github.com/tboothman/imdbphp/releases/tag/v7.0.0

[2021-07-08 19:42] #221 closed

[2021-07-08 19:43] tboothman commented on #206
https://github.com/tboothman/imdbphp/releases/tag/v7.0.0

[2021-07-08 19:43] #206 closed

[2021-07-08 19:47] #210 closed

[2021-07-08 20:03] tboothman commented on #199
Well we never heard back from the questioner so I'll assume this is resolved.

Personally I would (if this were code just for me and not already being used by other people) change any method that has results relating to another class to return instances of that class. Makes it a bit simpler to see what's possible .. at the disadvantage of it being less explcit what data is available for free.
Take

[2021-07-08 20:03] #199 closed

[2021-07-08 20:05] #189 closed

[2021-07-08 20:10] tboothman commented on #187
I suppose that would involve harvesting the images from https://www.imdb.com/title/tt0133093/mediaindex
I just removed mainPictures in v7 so you can't get any images now, but there seem to be 12 pictures on the title page now.

[2021-07-08 20:18] #186 closed

[2021-07-08 20:25] tboothman commented on #234
I would consider #214 if you're looking to change this method. There's more to be gained by fixing that problem than changing exactly how the parge is parsed.

getPage is a bit of a rats nest and I possibly caused some of it by trying to use abstractions to reuse a tiny little bit of code rather than just being explicit.
It's not obvious to me why `$this->getXpathPage("Episodes-5")` would do anyth

[2021-07-08 20:31] tboothman commented on #205
Similar request to #187

[2021-07-08 20:34] guardiaopt opened #239 "Problem with Kung Fu - TV Series"
I just tested version 7 and the episode page is not obtained in the following TV Series:

https://www.imdb.com/title/tt7475590/

Does anyone else have the same problem?

[2021-07-08 20:56] M0H4MM4D0UTIS commented on #239
i fix this on https://github.com/tboothman/imdbphp/pull/240

[2021-07-08 21:00] tboothman commented on #239
What do you mean by 'the episode page'? What method?

[2021-07-08 21:08] guardiaopt commented on #239
For example:
....
$imdbid=7475590;
$config = new \Imdb\Config();
$config->language = 'en-US,en';
$movie = new \Imdb\Title($imdbid, $config);
$seasons = $movie->episodes();
print_r($seasons);

No results are returned and no file title.tt7475590.episodes.season=1 is created in the cache folder.

[2021-07-08 21:18] tboothman commented on #239
Oh yea I see why it's not working. `Title::seasons()` looks like it doesn't work for single season shows ... and despite explicitely calling out in the many tests for episodes() that they were all for multiseason shows there's no tests for single season shows :S

[2021-07-08 21:41] #239 closed

[2021-07-08 21:59] tboothman opened #241 "Budget doesn't work reliably"
See https://app.travis-ci.com/github/tboothman/imdbphp/jobs/523043220

[2021-07-09 09:40] duck7000 commented on #234
Well i don't know how far my skills will get me into fixing #214 but i will give it a try.

My first thought was to rewrite this method to xpath, then get everything working correctly. Other fixes that are needed after all this?

It is indeed possible that i made a mistake, hence it is not working for me, thanks for pointing me in a direction to get it working.

[2021-07-09 10:09] duck7000 commented on #209
Closing this after consultation with @jreklund that this doesn't belong in imdbphp.

[2021-07-09 10:09] #209 closed

[2021-07-09 10:30] duck7000 commented on #234
I thought about #214
In that case season select option contains a blank option (contains white space)
so check if season contains that blank option and if so use select year?

A compare between season and year won't work as it is possible that the season count is lower or higher than year count.

[2021-07-09 11:31] duck7000 commented on #207
Fixed in pull request

[2021-07-09 11:31] #207 closed

[2021-07-09 15:32] Thomasdouscha commented on #234
Some TV Series are based years not seasons . If possible, it would be greatly appreciated if you consider this when coding.

[2021-07-09 16:52] duck7000 commented on #234
@Thomasdouscha
The problem is how to distinction seasons versus year based?

And there are numerous options possible, year based, season based, year unknown, season unknown or a combination of all of those

[2021-07-11 09:24] duck7000 commented on #165
@Thomasdouscha
It's been over 2 years, still interested in this method?
If so what specific link(s)are you after? In the link above from tboothman there are two links:
austinchronicle.com
see all 35 reviews on metacritic.com
I think you want, like tboothman suggest, the see all?

[2021-07-11 11:24] Thomasdouscha commented on #165
@duck7000
I am interested of just metascore value of metacritic. Actually imdb site for many movies show it. But some others not. That'why i opened  that issue how can i get it. Nowadays I am getting directly it from metacritic site. So i am not still interested it.

[2021-07-11 12:05] duck7000 commented on #165
I don't understand, there already is a method to get, if available, metacritic value?

Or do you mean all ratings from different reviewers like washington post or austin chronicles?

But your not interested anymore so this issue can be closed i guess?

[2021-07-11 12:37] duck7000 opened #244 "Soundtrack method overly complicated, discussion?"
The soundtrack method is complicated and does not completely work.

@tboothman
You made, a while back, a better and much simpler method that actually works but you would not merge that because of not backwards compatibility.
Is this to be reconsidered? I'm willing to convert that to dom xpath but the main concern is that the output array will not be the same as the current soundtrack method.
The q

[2021-07-11 13:19] Thomasdouscha commented on #165
Yes it can be closed

[2021-07-11 15:15] duck7000 commented on #165
would you be so kind to close it, i can't

[2021-07-11 18:37] Machou commented on #187
Yes, of course there are images on a movie or series file; it would be cool if you could recreate a function similar to ```mainPictures```

Regards

[2021-07-11 18:54] #165 closed

[2021-07-11 23:06] jcvignoli opened #245 "debug text [Cache] Purging old cache entries should appear later"
Hi,

I'm using imdbphp library for a wordpress plugin, [Lumière](https://wordpress.org/plugins/lumiere-movies/) and the [GIT](https://github.com/jcvignoli/lumiere-movies)

Thanks so much tboothman for continuing Ozzy project. You improved it a lot, congrat!

First, please not I'm not an experienced developper, I might face newbie issues from time to time.

I'm trying to implement a proper debug in

[2021-07-12 00:02] tboothman commented on #245
This might be slightly helpful https://github.com/tboothman/imdbphp#replacing-the-default-logger-which-echos-coloured-html-and-is-disabled-by-default
The logger built into imdbphp is pretty useless, which is why it's disabled.
You can replace it with any psr-3 logger as the readme says. There's a bunch of them on packagist https://packagist.org/providers/psr/log-implementation
You could just copy/

[2021-07-12 09:07] duck7000 commented on #241
I created a Pull Request, this method is more reliable although it is very hard to get the right data as it all has the same class name.

I added however a few thoughts about this method in the PR

[2021-07-12 20:16] duck7000 commented on #234
PR got merged, closing this

[2021-07-12 20:16] #234 closed

[2021-07-12 20:17] tboothman commented on #214
Should be fixed now #242

[2021-07-12 20:17] #214 closed

[2021-07-12 21:18] duck7000 commented on #123
- This is how i use this method as well, only the text that gives a small indication of what this movie/tvseries is about.
I don't think other users will use it differently than this, so don't make it too complicated. strip_tags removes the tags but the name is still in there, so the text is still complete.
- why is there a fallback in this method? will/can the first one fail? if so, why not use t

[2021-07-13 00:02] jcvignoli commented on #245
I thank you very much. I've been able to fix my issue!

Thanks also for maintaining this great library, much appreciated.

[2021-07-13 00:02] #245 closed

[2021-07-13 09:36] duck7000 commented on #187
would this a method to get the 12 images on the title page or for all images?

Personaly i would say the 12 images, some movies/tv series have hundreds of images..

[2021-07-13 10:14] Machou commented on #187
what would be nice is a function to have the 12 images of the form as well as a function to have all the images of the form.

Oki some cards have thousands even :)

[2021-07-13 21:31] Thomasdouscha commented on #182
[code]
This code works. May be somebody can pull request it. I don't know how to do.

[2021-07-14 12:11] #196 closed

[2021-07-15 19:03] mesa57 opened #247 "SSL errors up to php 7.4"
#### Description
Curl up to 7.4 gives SSL errors on imdb url.

I would like to have an option in config to put off ssl verification.
E.g. CURLOPT_SSL_VERIFYPEER to false

#### Movies / TV-Shows / Person
Any imdbid

#### Type
Feature request

#### Expected Results / What do you want to do?
Working requests to imdb without changing [curl] options in php.ini

#### Actual Results / What is happening?

[2021-07-16 11:50] jreklund commented on #247
This is something that won't be implemented. You can read more about it in #76.

[2021-07-16 12:50] mesa57 commented on #247
Thanks for the quick answer. I understand it is a windows only problem ? If this not occurs under linux, it's not a big problem as most of our users are Linux/NAS users. But my DEV environment run's under windows.
Strange thing is an other package doesn't seem to have that problem. It looks being tied to Curl.

[2021-07-16 13:28] jreklund commented on #247
It's a Windows only problem as this ain't something that gets bundled with PHP as there are no native way of updating it under Windows. If you don't experience this with other libraries, I guess they don't validate the certificate.

I always forget to set this myself as I mainly use Windows for development on my home PC. I haven't bothered to set up a Virtualbox just for imdbphp.

[2021-07-16 13:31] mesa57 commented on #247
Ok, thank you. Closing this enhancement for now 😄

[2021-07-16 13:31] #247 closed

[2021-07-20 09:42] duck7000 commented on #244
I made a PR with a adjusted version of soundtrack and rewrite to xpath

[2021-07-20 15:20] kakaska opened #252 "Parsing runtime is not working on the linked page"
Parsing the runtime is not working on the following page: tt5884196

The runtime on the page is "2h"

Thank you

[2021-07-20 16:42] Thomasdouscha commented on #252
This not main page. Just episode page.
![image](https://user-images.githubusercontent.com/43930732/126362903-95ef2c4a-bcba-48c2-a8b9-95ae233e1a12.png)
main page get running time very well.

[2021-07-21 14:58] DaanDeJong2001 opened #253 "Charset issue on role name"
#### Description
role names in cast have invalid characters for non-ascii names,

#### Movies / TV-Shows / Person
tt0069042

#### Type
Bug

#### Expected Results / What do you want to do?
I expect correct UTF8 strings. Instead it looks like UTF8 is interpreted as Latin1

[2021-07-21 19:49] duck7000 commented on #187
I made a PR for the 12 images

[2021-08-09 15:31] #187 closed

[2021-08-20 03:58] jcvignoli opened #258 "Method Comment() doesn't work"
I tried to get comment() working, without luck.

Seems like the method is not retrieving the main user comment as it used to.

Pretty sure the method was working a few weeks ago.

[2021-08-20 15:24] jcvignoli opened #259 "Bug: method monthNo() from class MDBbase should check if empty result"
#### Description
method monthNo() in MDBbase doesn't check if it gets an empty result before sending data to Person class.
This results in a undefined index php notice if empty:
``
int(8) string(22) "Undefined index: 2009," string(124) "Imdb/MdbBase.php" int(171) array(1) { ["mon"]=> string(5) "2009," }
``

#### Movies / TV-Shows / Person
Jorge Rivero, nm0729473, when using interviews() method

##

[2021-08-30 17:29] DeNeDeM opened #260 "Posters, actors images.."
Have the latest version but it seems it doesn't fetch any kind of images..
Maybe imdb changed their site again ?
edit: sorry..was an error in my config..all working

[2021-08-30 17:32] #260 closed

[2021-08-31 07:18] Thomasdouscha opened #261 "Does not get imdb rating"
hello,

It does not get imdb rating of [The newsreader]https://www.imdb.com/title/tt13925142/?ref_=tt_rt)

Thanks

[2021-08-31 07:33] Thomasdouscha commented on #261
For example: rating value = 6.9 get 6 or 7.6 get 7 as it does not get decimal value.

samples:
https://www.imdb.com/title/tt13925142/?ref_=tt_rt
https://www.imdb.com/title/tt12687584/

[2021-08-31 17:09] Thomasdouscha commented on #261
my website's age 4 years old. https://www.planetdp.org
It was right rating value. Now not. I did not change the code and yes imdbphp last version.
And i will check the code too. May  be it was string in the past. Now decimal. I will check it.

[2021-08-31 17:20] Thomasdouscha commented on #261
Our code is right.
get value with this $imdb->rating() and writge to database. Function rating() is not working true.

[2021-09-01 09:09] duck7000 commented on #261
That is really strange, both examples are working perfectly in my app
I use php 7.4, not sure if that has anything to do with it though

![Screenshot from 2021-09-01 10-59-24](https://user-images.githubusercontent.com/15360048/131643998-e4bae8c5-d9c9-4259-8925-79860bf9fcf5.png)
![Screenshot from 2021-09-01 11-00-08](https://user-images.githubusercontent.com/15360048/131644006-6c57e4d4-c26c-4b57-b6

[2021-09-01 16:57] Thomasdouscha commented on #261
it should be numbers as 7.4 . if return value is "float(7.4)7.4" of course my app can not get the value. It was not like this. for example  7.2 or 6.8 or 4.5.
But as i told you before it gets value perfectly

[2021-09-01 17:34] duck7000 commented on #261
Relax and read above

This is off course not the value, i put var_dump inside the rating value which output float(7.4). the 7.4 behind that is the real output value.

So your output from var_dump inside rating() method give the same output as mine? If so your problem lies not in imdbphp
Can you try that first?
You have systematically search for the problem, so start by checking the output of metho

[2021-09-01 17:53] Thomasdouscha commented on #261
Our app code four years same and it was working perfect. What did you change and why so now i dont know. I am ill 2-3 ddays later i will try to understand your new release.

[2021-09-01 19:34] duck7000 commented on #261
For the record i did not make any changes to this method.
I'm only trying to help you.

[2021-09-01 21:08] Thomasdouscha commented on #261
I see thanks for trying to help me. That is a very kind of you!
But if you didnot change anything for result it would work. I think data type or something different. But i can check after three days.
And in that time i need to have your helping. If you will be available of course!

Thanks

[2021-09-04 08:11] Thomasdouscha commented on #261
my code what get rating is was "$ratv = $imdb->rating();" and working perfectly before. Now it cannot get decimal value, just integer. Because i record it to varchar column of mysql.
i changed to code "$ratv = strval($imdb->rating());" now it working very well. That means is changed type of value of rating. my issue resolved now. But i think it is not good to change type of vale.

[2021-09-04 09:37] duck7000 commented on #261
Mm i see what you mean, in version 6.0.0 rating value is string, in later versions rating method is changed and apparently the output is also changed to float.
@tboothman , @jreklund is this something to discuss?

I think the problem is that you save the value as string in your database, i save it as double and have no problems.

It is remarkable that version 6.0.0 was released 26 feb 2018 and nob

[2021-09-04 10:32] tboothman commented on #261
I haven't written PHP day to day for a while now but PHP never used to care at all about the distinction between stringy numbers and numbers. Seems strange that any standard php code could take a float and turn it into a string and drop the decimal part of it.
Still, representing a number using a numeric type seems like the correct thing to do.

Just having a play around it's very difficult to mak

[2021-09-04 10:40] Thomasdouscha commented on #261
when you convert the float number to string and return like this and when user get it to save varchar column in mysql, there is no problem. Because you can make math operation in php as float number etc. thatswhy string is better.

But it doesnot matter how should be? does motter should be same type of value as before , always. Float? for this reason after revising to imdbphp again this type of va

[2021-09-04 10:57] tboothman commented on #261
I agree that the API shouldn't change, and it generally doesn't without a major version change. In this instance nobody noticed because PHP rarely notices the difference between stringy numbers and numbers.
The test for this method, unchanged since 2014 didn't notice:
https://github.com/tboothman/imdbphp/blob/master/tests/TitleTest.php#L332

[2021-09-04 14:15] duck7000 commented on #261
Well i didn't notice this either, i checked old versions to notice that there is a difference.

But indeed in this case it shouldn't make much of a difference to the actual value of rating.
I think that the actual saving in @Thomasdouscha database is the culprit? Like @tboothman showed in his examples only int will save the value without decimal.

[2021-09-04 16:23] tboothman commented on #261
Closing because there's no change required

[2021-09-04 16:23] #261 closed

[2021-09-11 18:42] paxter opened #262 "Issue with utf8_decode/umlauts on short cast output"
I just noticed that umlauts on cast names are broken. I don't know if it's related to my software or os I'm using. If it's working for you, I'll close this issue.

It's line 1724 in `Title.php` which cause the issue for me: https://github.com/tboothman/imdbphp/blob/e6e61e2cf70cda0a64c03f7d9259b18762bd12b8/src/Imdb/Title.php#L1724

After removing the line with `utf8_decode()` it's working fine.

I

[2021-09-11 19:40] tboothman commented on #262
Looks like a mistake to me. Titles are utf8, so it'd be weird for actor names to use a different character set

[2021-09-11 20:31] duck7000 commented on #262
In the same method, line 1746 there is also utf8)decode used for year? That shouldn't be there as well?

[2021-10-03 09:04] duck7000 commented on #241
@tboothman
I don't understand why you asked for help while you not even bother to response to the issue or my PR?

[2021-10-19 13:55] #262 closed

[2021-10-21 18:33] Thomasdouscha opened #263 "Comingsoon"
Hello ,

I cannot find any methot about comingsoon movies. Is there any method or way for it?

Thanks

[2021-10-23 12:26] paxter opened #264 "Decoding of html entities in title does not work properly"
Using: https://www.imdb.com/title/tt13950332/

__Test code__
[code]

__Getting__
[code]

__Expecting__
[code]

I took a look into the code and I could identify the following line in the `title_year()` function:
https://github.com/tboothman/imdbphp/blob/0074d4cda918e910fd9a43a37b335a6fd9fa294f/src/Imdb/Title.php#L236

To get it working properly I replaced the line with:
[code]

I'm not sure if this

[2021-10-23 13:51] #264 closed, assigned to nobody

[2021-11-14 08:00] Thomasdouscha opened #265 "spouse()"
Hello,

Person object spouse() function is not working. It doesn't get data of spouse.

Thanks

Thomas

[2021-11-20 08:55] vlahde opened #266 "storyline and country is empty string"
storyline() and country() is returning an empty string

[2022-02-14 05:46] Thomasdouscha commented on #265
So is it not important?

[2022-02-14 10:23] duck7000 commented on #265
Well personally i don't use that method.

And i don't think it will ever be fixed here, there is not been any reaction in months and the last commit is from October 2021..
At least i'm not going to do any more work to this repo, sorry.

[2022-02-14 18:11] Thomasdouscha commented on #265
I really really sorry to hear that.
I wanna know whats happening here. Nobody is going to support this repo anymore? I hope it is not likr this.
Thanks four your answer duck7000

[2022-02-14 21:19] duck7000 commented on #265
I really don't know
I created several PR requests here, a few are communicated about but that stopped suddenly months ago
All other PR i didn't get a single response on so i took a drastic step and removed them all.

That doesn't mean that the maintainers are not going to do any work on this and i sure hope they will continue.

So yes, i'm in the same "boat" as you:  I too want to know whats happe

[2022-02-14 21:40] Thomasdouscha commented on #265
Maybe "drastic step and removed them all" is not way for handling the issues. Now it's hard times for everyone, even for the whole world. Pandemic, the prospect of economic crises and wars, large and small, seriously affects people's order and life. Maybe they were also affected by these problems. I hope they are fine and all is well. You did your best, you worked hard. I think it would be better

[2022-02-15 10:08] duck7000 commented on #265
I understand your concerns but for me there is no point in putting the PR's back if non of the maintainers are paying attention to them?
Johan Eklund is the only one that did responded, communicated well about it and gave good tips. But he doesn't, for reasons i don't know, respond any more in months.

I'm doing all the work, for bugs and rewrites of some methods, but if there is no response, or a

[2022-02-16 20:44] duck7000 commented on #265
I added back a few PR's
And now we have to wait and see

[2022-02-17 18:14] duck7000 opened #268 "Recommendation method not working [Fixed in PR]"
{Bug:] Recommendation method does not produce any output due to site changes

I'll fixed this in a PR so i surely hope this will get merged, at least for everybody that uses this method

[2022-02-18 18:54] Thomasdouscha commented on #265
It is better way, thanks

[2022-02-20 19:00] duck7000 commented on #156
I don't think that someone is working on this but i will give it a try

So you want the dates and the imdbid's that would be released at that date?
Title's too?
And should there be some kind of country switch, so you can set the country you want?

[2022-02-21 20:13] duck7000 commented on #156
PR is created so try it out.
If there are problems or things missing report back here or in PR request

[2022-02-22 01:33] #258 closed

[2022-02-23 21:41] duck7000 commented on #265
@Thomasdouscha
Can you give me a example movie en witch data this method should return? I'm trying to fix it for you but i don't have a clue what data should returned.

[2022-02-23 22:13] duck7000 commented on #259
Like @tboothman said the real problem here is that some interviews don't start with a date but with a year like jorge rivero but others too. (Jack Nicholson)
The method used here is parsearticles() in person.php line 935.
This line get wrong data (year instead of date) and parses it to monthNo, hence the error.
I'm not really sure how to fix that, it would involve restructuring the preg_match from

[2022-02-24 11:36] Thomasdouscha commented on #265
I used method:
`$person->spouse();`
Also you can looking for demo directory person.php of spouse part. My code is very similar. Let you check it please.

[2022-02-24 12:15] duck7000 commented on #265
I used spouse method, it returns nothing, but what should it return is the question?
It should include name and imdbid but what about the rest?

[2022-02-24 16:11] Thomasdouscha commented on #265
mate name imdb_id married date if yes divorced date and children count. I will check my code later.

[2022-02-24 16:14] Thomasdouscha commented on #265
![image](https://user-images.githubusercontent.com/43930732/155563222-4f8b8be3-1f5e-44b9-bfee-4269190ccc93.png)

Charles Bronson from imdb page.

[2022-02-24 18:27] duck7000 commented on #265
Ah oke that is de info i was looking for, thanks!
I will give it a try, no guaranties

[2022-02-24 22:56] Thomasdouscha commented on #265
Data looks like as past. I think because of small change it does not work. May be to fix it easy or not.
Thanks

[2022-02-25 10:46] duck7000 commented on #265
well it is not an easy fix, and i doubt it ever has been functioned at all. This method is full of code that can't be working on the current bio page. That page has been changed a lot if the old code actually did work.
I'm still trying though

[2022-02-25 22:32] duck7000 commented on #259
I'm working on this to fix it, there are a lot of problems with parsearticles()

[2022-02-26 16:26] #268 closed

[2022-02-26 19:44] Thomasdouscha commented on #265
I hope that  will be sucess.

[2022-02-26 21:41] duck7000 commented on #265
Still working on this, it may take some time, i have more PR's that i'm working on.
And that is a good thing! Tboothman has already reviewed 2 off them and eventually approved!
I'm very happy about that!

[2022-02-27 14:11] Thomasdouscha commented on #265
It's good!

[2022-03-03 20:59] #253 closed

[2022-03-11 09:13] duck7000 commented on #265
I finally managed to get it fixed (i hope) and made a PR
so @Thomasdouscha check it out and let me know if there are any problems left.

[2022-03-11 21:16] Thomasdouscha commented on #265
Thanks a lot. i will test it tomorrow!

[2022-03-22 10:46] Thomasdouscha commented on #265
No it does not

[2022-03-22 15:36] duck7000 commented on #265
what is the problem?

[2022-03-22 16:55] Thomasdouscha commented on #265
![image](https://user-images.githubusercontent.com/43930732/159533236-06e75ecc-714a-41a8-b50f-fc7936509d21.png)

İt is simply return empty. When i update the person data there is no spouse information.
what about person of demo in imdbphp? is it working?

[2022-03-22 17:30] Thomasdouscha commented on #265
![image](https://user-images.githubusercontent.com/43930732/159540491-6713d105-5631-4f11-87b1-ceca83b65705.png)
It works !!!
I will try 5-6 six other person

[2022-03-22 17:32] Thomasdouscha commented on #265
But wife name there is not. Marriage dates and children and marital status ok. JUst wife names ?

[2022-03-22 17:35] Thomasdouscha commented on #265
![image](https://user-images.githubusercontent.com/43930732/159541428-3c37cb22-4843-46e4-b99a-b460e3663656.png)
as you see in database there aren't wive names!

[2022-03-22 17:39] Thomasdouscha commented on #265
I tested some persons and the result: Wife name return is empty! other datas are ok!

[2022-03-22 18:06] duck7000 commented on #265
Wow.. slow down a bit and please stop using so much ! it feels like shouting

First i didn't touch anything in the demo pages so i don't know if that will work.

And second i think there is something wrong in your application? Because i get all info from charles bronson?
This is my output from method spouse() in person.php and i call it like this:

[code]

I notice that you use, i guess, turkisch

[2022-03-22 18:19] Thomasdouscha commented on #265
may be i did not get fully true your person file. My code is simple ->spouse() and there is no data in database. Can you send me person.php file?

[2022-03-22 18:20] Thomasdouscha commented on #265
no it is not about turkish i can get everything except this wife name.

[2022-03-22 21:42] duck7000 commented on #265
Just replace the existing method with the one from my PR, nothing else changed
or copy the whole person.php from my PR
but here is my file
[Person.zip](https://github.com/tboothman/imdbphp/files/8328078/Person.zip)

[2022-03-22 22:26] Thomasdouscha commented on #265
Thanks a lot. There is no problem! It works very well!
![image](https://user-images.githubusercontent.com/43930732/159586470-ae708d6b-0f93-480d-aba9-f9cc486fdc62.png)

[2022-03-23 10:13] duck7000 commented on #265
Thanks, glad it works. It was a pain in ass to get it working.
Now we have to hope this will get merged.

[2022-03-24 22:44] Thomasdouscha commented on #265
There is one bug!
If the person has not spouse data for example single never married and child , spouse() has crashed. Otherwise i mean the person has spouse data , it works perfectly

[2022-03-24 22:52] Thomasdouscha commented on #265
temprorily i fixed "try{ $spouse = $imdbperson->spouse();}catch (\Exception $e) {$spouse=""; }" like this until you fix it.

[2022-03-25 10:24] duck7000 commented on #265
Mm I'm not surprised that there still are bugs

Can you give me a example of where it did not work, your description is not clear enough.
And what do you mean by "crash"?

[2022-03-25 10:41] duck7000 commented on #265
With this person: David Bennent (0000908) i get empty array just like it suppose to do?
This person has no spouse data available, i did check that, but there may be other circumstances that i didn't check perhaps

[code]

[2022-03-25 10:42] Thomasdouscha commented on #265
try{ $spouse = $imdbperson->spouse();}catch (\Exception $e) {$spouse=""; }
what crash means this code shows i think. spouse() funtion gives error  some cases. I will give you some persons as exsamples.
[https://www.imdb.com/name/nm2956530](url)
[https://www.imdb.com/name/nm8033456](url)
these persons doesn't have spouse history. So with kind of persons spouse func should gives return null or "" so

[2022-03-25 10:54] duck7000 commented on #265
Ah okay you're right, in the above cases there is no family part on the bio page, so there will be this error:
Trying to get property 'nodeValue' of non-object

I will try to fix that

[2022-03-25 11:10] Thomasdouscha commented on #265
Thanks a lot

[2022-03-25 11:14] duck7000 commented on #265
It is fixed in PR, test it out please

[2022-03-25 11:15] Thomasdouscha commented on #265
Great! i will remove that code try{ $spouse = $imdbperson->spouse();}catch (\Exception $e) {$spouse=""; } and will test now

[2022-03-25 11:22] Thomasdouscha commented on #265
and i need to have revised person.php

Sorry i dont use git and i dont know how to do.

[2022-03-25 11:25] duck7000 commented on #265
Is it so hard to just copy the whole method from PR and paste it in your file?
[Person.php.zip](https://github.com/tboothman/imdbphp/files/8349973/Person.php.zip)

[2022-03-25 11:52] Thomasdouscha commented on #265
Ya you are right. I should learn how to do with git.
now it is okay it works perfectly

[2022-03-25 13:14] duck7000 commented on #265
great, if you have the change would you test it even more to make sure it works in all cases?

[2022-03-25 13:16] duck7000 commented on #265
And if so add it to your issue and ask to be merged, otherwise it might got forgotten and is all my work for nothing.

[2022-03-25 14:03] Thomasdouscha commented on #265
In our website thousand member using it. So if there is any bug we will learn very qucikly. Nobody make a report bug about person card till now. So it is working perfectly .

[2022-03-25 14:04] Thomasdouscha commented on #265
tomorrow i will do that. It wşll not be for nothing

[2022-03-26 10:03] #182 closed

[2022-03-26 10:14] Thomasdouscha commented on #265
Thanks, My last comment for pr is okay! Please let you it to merge with new revision.

[2022-03-29 01:52] jcvignoli commented on #259
@duck7000 it works! :)

[2022-03-29 10:48] duck7000 commented on #259
Thanks for testing!
Now we have to wait if and when it will be merged, but in the meantime you or anyone else at least can use it.

[2022-04-07 13:51] duck7000 commented on #244
I would like to have a discussion about soundtrack method, is that possible @tboothman @all?

In its current state it is incomplete and overly complicated but i'm not sure how it could be better. My PR is a step in the right direction but it might be to simple?

I think that in case of for example "written and produced" this should be used as desc as this is the same person who wrote and produced

[2022-04-07 17:17] #265 closed

[2022-05-02 20:44] jcvignoli commented on #266
I can confirm country() function does not return empty strings. Perhaps could you provide more specific details (IMDB id of the movie/person, how you use IMDBPHP)?

[2022-05-02 21:02] duck7000 commented on #266
for me it is working fine since @vlahde reported it so i don't know if there is a real problem here?

[2022-05-07 18:11] duck7000 commented on #244
Does nobody use this method, or is nobody interested at all?

If so then my simple version could as well be used i guess?

[2022-05-11 18:30] duck7000 commented on #244
I'm using your version in my program right now and it works fine, so yes merge that one please.
Is it useful to convert that one to xpath?
I do have a xpath version available.

[2022-05-13 11:13] duck7000 commented on #244
Thanks for merging this, it is appreciated!

[2022-05-13 11:13] #244 closed

[2022-05-20 15:25] duck7000 commented on #156
@paxter
If this works for you could you close this issue?

Less clutter in the issues list is better i think, and this is already approved and merged.

[2022-05-20 15:27] duck7000 commented on #174
Can this also be closed?
after almost 3 years i don't think this issue is considered open i guess?

[2022-05-20 15:30] duck7000 commented on #252
@kakaska  is this issue still relevant? If not can you close this issue?
I'm not sure this library works on a specific episode page but i could be wrong

[2022-05-20 17:14] paxter commented on #156
Just checked and looks fine. Thanks for implementing @duck7000!

[2022-05-20 17:14] #156 closed

[2022-05-20 17:29] duck7000 commented on #156
Your welcome, glad to contribute to this library

[2022-05-22 17:32] jcvignoli opened #277 "Keyword method returns empty array"
#### Description
Keyword method returns empty array

#### Movies / TV-Shows / Person
Happens i.e. with 0062622 (2001, a space odyssey)

#### Type
Bug:
method keywords() in Imdb\MdbBase\Title class doesn't return any data.

[2022-05-22 18:18] duck7000 commented on #277
Jep you are right, it doesn't work, PR is in progress

[2022-05-22 18:34] duck7000 commented on #277
PR is done

[2022-05-29 17:49] duck7000 commented on #277
@jcvignoli can you also test if this fixes the problem?

[2022-05-29 23:42] jcvignoli commented on #277
I confirm, it works!

[2022-07-15 09:49] duck7000 commented on #277
@jcvignoli can you close this issue as it is resolved?

[2022-07-15 10:02] #277 closed

[2022-07-18 08:21] AucT opened #279 "quick fix for series cinematogropher"
https://github.com/tboothman/imdbphp/blob/master/src/Imdb/Title.php
line 1848

  `$cinematographer_rows = $this->get_table_rows($this->getPage('Credits'), "Cinematography by");`

change to
[code]

[2022-07-20 08:00] duck7000 commented on #279
Good catch.
But if you want this to be changed i suggest to make a PR (if you can that is)

[2022-08-03 16:03] miaadp commented on #266
I have problem with storyline method
Its return empty string

[2022-08-03 20:39] duck7000 commented on #266
Mm storyline() is indeed not working but i think that is because the data is not loaded from imdb, see this screenshot.
It is a var_dump() from $this->getPage("Title") Storyline data is not loading on my pc

![Screenshot_2022-08-03_22-33-07](https://user-images.githubusercontent.com/15360048/182707161-f84ddab0-80c7-459c-9f6b-a3336bbf0436.png)

So i'm not sure there is something wrong with this met

[2022-08-03 21:55] tboothman commented on #266
That section (and some others further down) are being fetched after the page loads (possibly after you scroll down a bit) from the graphql api:
![image](https://user-images.githubusercontent.com/1813336/182719284-c82c33c1-b2f4-41fb-8a0c-14bd4b5401fa.png)
![image](https://user-images.githubusercontent.com/1813336/182719348-0d5b6555-36a4-47a7-b456-e747965dfd08.png)

tagline is also broken

[2022-08-03 22:06] tboothman commented on #266
A minimal request (language/location is possibly important)
curl 'https://caching.graphql.imdb.com/?operationName=TMD_Storyline&variables=%7B%22titleId%22%3A%22tt0306414%22%7D&extensions=%7B%22persistedQuery%22%3A%7B%22sha256Hash%22%3A%22cbefc9c4a2dbd0a5583e223e5bc788946016db709a731c85251fc1b1b7a1afbe%22%2C%22version%22%3A1%7D%7D' -H 'content-type: application/json' -H 'x-imdb-user-language: en-GB

[2022-08-04 09:52] duck7000 commented on #266
On my pc with adblockers disabled storyline is not loaded anywhere on that page (i use movie 1408 as example)

I didn't change the default language setting of imdbphp so that defaults to US as i remember right? So changing that to GB could help? I will try that.

[2022-09-26 13:50] duck7000 opened #281 "PR processing time"
A very simple question:
Why does it here in general take so much time before a PR request is even looked at?

I have several PR's here and some does not even get a response while it is sometimes asked for in the issue tracker?
Others are looked at en suggestions are made and followed by me but there is no more response to finish the PR?

I think this is a legit question and by no means meant as ra

[2022-09-30 02:23] jcvignoli opened #282 "Imdbphp title search doesn't return any result"
I'm using latest Imdbphp dev revision (d96da50).

Search for titles is broken. Just tried with Fight Club, Barry Lindon, 2001, not a single result is returned.

Imdbphp can still find movies according to their imdb number, though.

[2022-10-02 11:01] duck7000 commented on #282
There is something strange going on here.
It sometimes works after a few retry's , so the problem lies in fetching the data from imdb i guess
If the search works the fetched data is correct though.

[2022-10-02 18:48] duck7000 commented on #282
jreklund has added this commit: #c3365fe

[2022-10-02 22:51] jcvignoli commented on #282
Correct. Latest commits fixed regression introduced yesterday.
Thanks for letting me know!

[2022-10-02 22:52] #282 closed

[2022-10-09 15:23] jcvignoli opened #283 "Method tagline() in Title class broken"
Method tagline() in Title class doesn't return any string despite a tagline being available.
Method taglines() works perfectly, though.
Tried with interstellar title.

[2022-10-09 18:20] jreklund commented on #283
What imdbphp are you using? It were fixed in 7.3.1.
What php version are you using? We have a php 5.6 compatibility problem in 7.3.1.

[2022-10-09 23:44] jcvignoli commented on #283
Sorry for the false positive. Was running an old imdbphp script.
Will update and report back should I find an issue.
Closing this issue in the meantime.

[2022-10-09 23:44] #283 closed

[2022-10-10 19:00] jreklund commented on #281
I will answer in here instead of in all individually PR I have been tagged in or assigned as of late.

Lack of time and personal interest. I'm already working 8 hours at work coding, writing documentation, code review, test and deploy. Got some part time gigs doing the same thing, so I want to do something else on my spare time. Tried to do some PR last year when there where only one, another popp

[2022-10-10 19:34] duck7000 commented on #281
First of all thanks for your response! I'll appreciate it.

Well in your case, after reading your comment above i fully understand that this project is on your back burner.
I'm glad you told me this because it is clear that you are likely not be working on this project, and i fully understand that.

I found it however very frustrated that there were no more responses in the PR's your tagged in (an

[2022-10-12 19:23] duck7000 commented on #259
Still waiting for this to be reviewed/merged

[2022-10-21 21:32] jcvignoli opened #285 "Monolog v2"
I've seen a recet PR to improve compatibility with PHP 5.6. I would actually advocate the opposite.

Unless I'm mistaken, Imdbphp uses Monolog library due to its support of PHP5.6. It is dangerous to use Php5.6 in production environments. Why Imdbphp should still support it? The same goes as Monolog 1: it doesn't receive any update.

WordPress is a well known PHP library that still supports PHP5.6

[2022-10-22 10:43] duck7000 commented on #285
Well i think that you have a valid point but like @tboothman said it is still mentioned in the readme that php 5.6 is supported.
So yes i think it's time to move on

Another, imho important point, is why the bug you mentioned in #259, which i fixed is still not merged while if somebody complains about php 5.6 there are plenty reactions and that gets fixed almost instantly..

[2022-10-22 11:45] jreklund commented on #285
imdbphp don't require any external libraries not native to PHP (unless you are an developer). imdbphp do have support for `prs/log` version 1 and `prs/simple-cache` version 1 and that's why you are getting Monolog 2 and not 3 in case you decide on that PSR-3 logger. We have support for all loggers, Monolog are just an example. Monolog 2 have support for PHP 7.2 and up.

I don't think we can just d

[2022-10-22 17:28] duck7000 commented on #281
The none response from the other maintainer of imdphp is a pity as i gladly known his arguments about it.

[2022-10-22 17:28] #281 closed

[2022-10-22 17:32] duck7000 commented on #259
Too bad for you i closed this PR, i have enough of the lax attitude here.
I hope you did get the fixed version, if not we can arrange something.

[2022-10-23 23:14] jcvignoli commented on #285
I thunk you are correct in theory, it's up to the dev to select which psr lib to use. Your arguments do make sense.
The thing is that we all use static tool analysers, code using the new options. PHP is safer and more secure in every release. So it becomes every day more complicated to code in older PHP versions.
Anyway, that was just a suggestion. Thanks for taking the time to reply in such a det

[2022-10-23 23:15] jcvignoli commented on #259
Hope it will be included in a next release!

[2022-10-25 17:17] duck7000 commented on #259
I doubt it..

[2022-11-17 23:21] robertorodriguezgarcia opened #286 "Filmography and photo returns empty for some people"
I'm using latest Imdbphp dev revision

For some people don't get the photo and filmography. Ex: Brad Pitt, Hugh Laurie, Olivia Cooke, Leonardo DiCaprio, Tom Hanks...

[2022-11-18 01:26] robertorodriguezgarcia commented on #286
I mean in obtaining info in person.php
![olivia](https://user-images.githubusercontent.com/15366731/202595284-dc2a3df3-d223-4222-b2d1-246c8db961f5.png)

[2022-11-22 11:53] Jaberwwocky opened #287 "Imdb now verifing humans"
Hello

Since yesterday Imdb has implemented some kind of captcha puzzle "Let's confirm you are human" and scraping doesn't work anymore.

Is it possible to work around or avoid that captcha? Or is imdbphp now obsolete? Thank you

[2022-11-22 12:18] jreklund commented on #287
I think you scraped too much and your ip-address got blacklisted. It works on my UK-server. Without knowing what kind of protection they have implemented it's hard to work around.

[2022-11-22 13:20] Jaberwwocky commented on #287
OK, so IP might be a problem, I will try to get a new one. I have been scraping imdb for years, but I got a new IP (new server) last year, so I'm suprised.

I've been able to capture what happens when a script tries to scrape and I'm sending you links to screenshots. Also, I see that there are two javascripts probably responsible for this...

Screenshots:
https://baze.si/temp/

Javascripts from im

[2022-11-22 19:55] jreklund commented on #287
Just tried running our unit tests and they seem to have changed some "Person" pages by most of the titles seem fine, so I guess you have hit a robot check. How many titles did you try to download? Don't think I will be able to hack that away.

We have the ability to change `default_agent` and `ip_address` from the config file, it's worth a try.

[code]

[2022-11-23 06:19] Jaberwwocky commented on #287
Thank you, I will try that. I was downloading 5-6 titles per day regulary...